/.bloop/**
/.idea/**
/.metals/**
/.settings/**
/.vscode/**
/target/**
/project/**
/spark-warehouse/**
/src/test/data/mp/pcaptroll/**/*
/src/test/data/mp/writter/**/*
.classpath
.project
/**/zst
additional-jars